# Zephyr Kernel Configuration
CONFIG_ARM=y

# Platform Configuration
CONFIG_SOC_SERIES_STM32F4X=y
CONFIG_SOC_STM32F407XG=y
CONFIG_BOARD_ITU_FX=y

# General Kernel Options
CONFIG_CORTEX_M_SYSTICK=y

# 168MHz system clock
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=168000000
CONFIG_SYS_CLOCK_TICKS_PER_SEC=1000

# Enable MPU
#CONFIG_ARM_MPU=y

# flash hardware support
CONFIG_FLASH=y

# Serial Drivers
CONFIG_SERIAL=y
CONFIG_UART_INTERRUPT_DRIVEN=y

# enable console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# enable pinmux
CONFIG_PINMUX=y

# enable GPIO
CONFIG_GPIO=y

# enable SPI
#CONFIG_SPI=y

# enable I2C
#CONFIG_I2C=y 

#enable WATCHDOG
#CONFIG_WATCHDOG=y 

# clock configuration
CONFIG_CLOCK_CONTROL=y

# enable RTC
#CONFIG_RTC=y
#CONFIG_RTC_STM32_CLOCK_LSE=y

# enbale DMA
#CONFIG_DMA=y

# enable CAN
#CONFIG_CAN=y

# enable HWIFO
CONFIG_HWINFO=y

# Clock configuration for Cube Clock control driver
CONFIG_CLOCK_STM32_HSE_CLOCK=8000000
CONFIG_CLOCK_STM32_SYSCLK_SRC_PLL=y

# Use HSE as PLL input
CONFIG_CLOCK_STM32_PLL_SRC_HSE=y
# produce 168MHz clock at PLL output
CONFIG_CLOCK_STM32_PLL_M_DIVISOR=8
CONFIG_CLOCK_STM32_PLL_N_MULTIPLIER=336
CONFIG_CLOCK_STM32_PLL_P_DIVISOR=2
CONFIG_CLOCK_STM32_PLL_Q_DIVISOR=7

# APB clock configuration
CONFIG_CLOCK_STM32_AHB_PRESCALER=1
CONFIG_CLOCK_STM32_APB1_PRESCALER=4
CONFIG_CLOCK_STM32_APB2_PRESCALER=2
